<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    
    <p>Real data sample:</p>
    {{ real_data|safe }}  {# Assuming your dataframe is in HTML format #}
    <br/>
    <p> Real data stats: </p>
    {{real_stats |safe}}
    <br/>
    <p>Generated data sample:</p>
    {{ generated_data|safe }}  {# Assuming your dataframe is in HTML format #}
    <br/>
    <p> Generated data stats: </p>
    {{generated_stats |safe}}

    <p> Metrics of real and generated synthetic data </p>

    <p>Mean distribution:</p>
    <img src="{{ mean_std_path }}" alt="Image">
    <br/>
    <p>cumulative sums per feature:</p>
    <img src="{{ cumsums_path }}" alt="Image">
    <br/>
    <p>distributions per feature: </p>
    <img src="{{ distributions_path }}" alt="Image">
    <br/>
    <p>Correlation difference: </p>
    <img src="{{ correlation_difference_path }}" alt="Image">
    <br/>
    <p>Components of PCA: </p>
    <img src="{{ pca_path }}" alt="Image">
    <br/>

</body>
</html>
